<%- layout('/layout/boilerplate') %>
<link rel="stylesheet" href="/css/searchResults.css">

<div class="sticky-top">
  <div class="row text-center bg-white justify-content-center" id="searchBarSticky">
    <div class="col-lg-10">
      <form class="d-sm-flex align-items-center pt-1 pt-lg-3 pb-1 pb-lg-3" action="/cafes/s" method="get">

        <label class="visually-hidden" for="name">Name</label>
        <div class="input-group">
          <div class="input-group-text"><i class="bi bi-search"></i></div>
          <input type="text" class="form-control" placeholder="Name" name="name" id="inputNameSticky"
            aria-label="cafe name" <% if(url.includes('/cafes/s') && name) { %> value="<%= name %>" <% } %>>
        </div>
        <label class="visually-hidden" for="loc">Location</label>
        <div class="input-group">
          <div class="input-group-text"><i class="bi bi-geo-alt"></i></div>
          <input type="text" class="form-control" placeholder="Location" name="loc" id="inputLocSticky"
            aria-label="location" <% if(url.includes('/cafes/s') && loc) { %> value="<%= loc %>" <% } %>>
        </div>

        <button class="btn btn-outline-success d-none d-md-block" type="submit"><i
            class="fw-bold bi bi-arrow-right"></i><span class="buttonText ms-1">Search</span></button>
      </form>
    </div>
  </div>
  <div class="row bg-light mb-3 align-items-center justify-content-between d-lg-none" id="controls">
    <div class="col-auto">
      <button type="button" class="btn float-end" data-bs-toggle="modal"
        data-bs-target="#optionsModal">
        <i class="bi bi-sliders"></i>
      </button>
    </div>
    <div class="col-auto d-sm-none">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="mapViewSwitch">
        <label class="form-check-label" for="mapViewSwitch">Map View</label>
      </div>
      <!-- <div class="btn-group">
        <a href="#" id="toggleList" class="btn btn-secondary btn-sm active" aria-current="page">List</a>
        <a href="#" id="toggleMap" class="btn btn-secondary btn-sm">Map</a>
      </div> -->
    </div>
  </div>
</div>
<%- include('optionsModal') %>
<div class="row" id="content">
  <div id="options" class="col-12 col-lg-2 d-none d-lg-block">

    <div class="sticky-top-below">
      <%- include('optionsForm') %>
    </div>
  </div>

  <div id="resultsContainer" class="col-12 col-sm-6 col-lg-5">
    <div id="results">
      <% if (cafes.length === 0) { %>
      <h5 class="text-center">No results</h5>
      <% } %>
      <% cafes.forEach((cafe,i) => { %>
      <a href="/cafes/<%= cafe.id %>" class="text-decoration-none">
        <div class="card mb-2 cafe-card d-none" id="card<%= i %>">
          <div class="row">
            <div class="col-5 col-lg-4">
              <img src="<%= cafe.images[0].square %>" class="img-fluid" alt="...">
            </div>
            <div class="col-7 col-lg-8">
              <div class="card-body text-dark ps-0 pe-3 h-100 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title d-inline"><%= i+1 %>. <%= cafe.name %></h5>

                </div>
                <h6 class="card-subtitle text-muted"><small><% if(cafe.distance) { %>
                    <%= cafe.distance %>
                    mi <i class="bi bi-arrow-right mx-1"></i><% } %></i><%= cafe.shortAddress %></small></h6>
                <p class="card-text mb-1">
                  <%- cafe.stars %><%- cafe.reviewLen %></p>
                <p class="card-text">
                  <%= cafe.priceString %>
                  &nbsp;&bull;&nbsp;
                  <% cafe.categories.forEach((cat) => { %>
                  <span class="category"><%= cat %></span> <% }) %>

                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <% }) %>

      <div id="spinner" class="text-center my-4 d-none">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <div id="mapContainer" class="col-12 col-sm-6 col-lg-5 d-block">
    <div class="sticky-top-below sticky-map">
      <form></form>
      <div id="map" class=""></div>
      </div>
  </div>
</div>





<script>
  const mapboxToken = '<%- process.env.MAPBOX_TOKEN %>';
  const cafes = {
    features: <%- JSON.stringify(cafes) %>
  };
  const mapboxBounds = <%- JSON.stringify(mapboxBounds) %>;
</script>


<script src="/js/infiniteScroll.js"></script>
<script src="/js/resetFilters.js"></script>
<script src="/js/resDesign/searchResultsRes.js"></script>
<script src="/js/clusterMap.js"></script>